body {
    background-color: white;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    color: black;
}

.container {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}