.search-bar {
    display: flex;
    width: 750px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    outline: none;
}

input[type='text'] {
    padding-left: 20px;
    font-size: 16px;
    color: black;
}

input[type='text']::placeholder {
    font-size: 16px;
    font-weight: bold;
}

