.search-bar {
    display: flex;
    width: 750px;
    height: 50px;
    border-radius: 10px;
    background-color: #2d2055;
    align-items: center;
}

.search-label {
    margin-left: 20px;
    font-weight: bold;
    color: gray;
}